* {
	margin: 0;
}

.main-structure {
	background-color: white;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}

.introduction {
	border-top: solid silver 2px;
	border-bottom: solid silver 2px;
}
img {
	margin-top: 10px;
	margin-bottom: 10px;
}

img.one {
  width:50%; 
  height: 50%;
}
img.two {
  width:50%; 
  height: 50%;
}
img.three {
  width:50%; 
  height: 50%;
}

p {
	font: 15px verdana;
}

.footer {
	border: solid silver 3px;
	padding: 15px;
	height: 100px;
	width: 100%;
	background-color: whitesmoke;
}
