<<<<<<< HEAD
<<<<<<< HEAD
	/*		.button {
  			background-color: #4CAF50;
  			border: none;
  			color: white;
  			padding: 15px 32px;
  			text-align: center;
  			text-decoration: none;
  			display: inline-block;
  			font-size: 16px;
  			margin: 4px 2px;
  			cursor: pointer;
}*/
=======
>>>>>>> 04f0ae3a375c6dd1a68366b08b1ca72c406b9582

.vertical-btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  margin-left: 300px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer; /* Pointer/hand icon */
  /*width: 100px; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.vertical-btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.vertical-btn-group button:hover {
  background-color: #3e8e41;
}

.horizontal-btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: blue; /* White text */
  padding: 10px 24px; /* Some padding */
  margin-left: 450px;

  cursor: pointer; /* Pointer/hand icon */
  /*width: 100px; /* Set a width if needed */
  /*display: block; /* Make the buttons appear below each other */
}

.horizontal-btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.horizontal-btn-group button:hover {
  background-color: #3e8e41;
}
=======
* {
	margin: 0;
}

<<<<<<< HEAD
.main-structure {
	background-color: blue;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}

.introduction {
	border-top: solid silver 2px;
	border-bottom: solid silver 2px;
}
img {
	margin-top: 10px;
	margin-bottom: 10px;
=======
.main {
	font: Georgia 120px black;
>>>>>>> 04f0ae3a375c6dd1a68366b08b1ca72c406b9582
}

img.one {
  width:50%; 
  height: 50%;
}
img.two {
  width:50%; 
  height: 50%;
}
img.three {
  width:50%; 
  height: 50%;
}

<<<<<<< HEAD
<<<<<<< HEAD
p {
	font: 15px verdana;
}

.footer {
	border: solid silver 3px;
	padding: 15px;
	height: 100px;
	width: 100%;
	background-color: blue;
}

#Library {
   background-image: url('Potib.jpg');
   height: 683px;
   width: 683px;
}

#Library:hover {
   background-image: url('Potib2.jpg');
	width: 683px;
   height: 683px;

=======
body {
  background-color: orange;
  margin: 50px auto;
  box-sizing: border-box;
}

/* Make the container relative */
.swap-on-hover {
  position: relative; 
  margin:  0 auto;
  max-width: 400px;
}
.swap-on-hover img {
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
  /* Sets the width and height for the images*/
  width: 400px;
  height: 200px;
}

/* 
  We set z-index to be higher than the back image, so it's alwyas on the front.

We give it an opacity leaner to .25s, that way when we hover we will get a nice fading effect. 
*/
.swap-on-hover .swap-on-hover__front-image {
  z-index: 9999;
  transition: opacity .5s linear;
  cursor: pointer;
}

/* When we hover the figure element, the block with .swap-on-hover, we want to use > so the front-image is going to have opacity of 0, which means it will be hidden, to the back image will show */
.swap-on-hover:hover > .swap-on-hover__front-image{
  opacity: 0;
>>>>>>> 38b9d334470f2ee2130f6e841258043d8bfb9272
}